<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="css/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="css/main.css?ver=1.2.0" rel="stylesheet">
  </head>
  <body id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
          <h1 class="site-title mb-0">Curriculum Vitae</h1>
          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/templateflip" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="images/avatar.jpg" width="200" height="200"/></div>
      </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h2 class="h1 mt-2">Maria Eduarda Almeida Oliveira</h2>
        <p>Estudante de Análise e Desenvolvimento de Sistemas no INFNET</p>
        <p>Consumindo API simples que prediz idade para dado nome: 
        	<br>Nome: </span><span th:text="${pessoa}"/>
        	<br>Idade: </span><span th:text="${age}"/>      
      </div>
    </div>
  </div>
  <div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div>
        <h2 class="text-left">Sobre mim</h2>
        <p class="text-justify">Estudante de Análise e Desenvolvimento de Sistemas no Instituto
Infnet. Bacharel em Ciências Ambientais pela Universidade Federal do Estado do Rio de Janeiro. Em 2016, participou de estágio com Lepidoptera na University of
Chicago e trabalho voluntário no Peggy Notebaert Nature Museum no Butterfly Haven. Desenvolveu em 2012 projeto de Iniciação Científica em
Biorremediação Ambiental na UNIRIO.</p>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="skills-section px-3 px-lg-4">
    <h2 class="h3 mb-3">Skills</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-2"><span>HTML</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div> 
        </div>
        <div class="mb-2"><span>CSS</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>JavaScript</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>VueJS</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Angular</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>React</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-2"><span>Android</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Java</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>C#</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        </div>
      <div class="col-md-4">
        <div class="mb-2"><span>MySQL</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>SQLite</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Firebase</span>
          <div class="progress my-1">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Experiência</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Intern <span class="text-muted h6">at IBM</span></div>
          <div class="text-muted text-small mb-2">Março, 2021 - Present</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Moodle Back-end Developer <span class="text-muted h6">at LEO Learning Brasil</span></div>
          <div class="text-muted text-small mb-2">Outubro, 2020 - Fevereiro, 2021</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Service Desk Agent <span class="text-muted h6">at LEO Learning Brasil</span></div>
          <div class="text-muted text-small mb-2">Agosto, 2020 - Outubro, 2020</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Professora de Inglês <span class="text-muted h6">at Wizard by Pearson</span></div>
          <div class="text-muted text-small mb-2">Outubro, 2018 - Março, 2019</div>
          <div>
            <p>Professora de idiomas de todas as faixas etárias, utlizando a metodologia
              PNL</p>
          </div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Summer Intern <span class="text-muted h6">at University of Chicago</span></div>
          <div class="text-muted text-small mb-2">Junho, 2016 - Agosto, 2016</div>
          <div>
            <p>Linha de pesquisa: Evolução e Genética dos Modelos de Adaptação e
              Especiação Utilizando
              Borboletas como Modelos Primários no Laboratório Kronforst</p>
            </div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Professora de Inglês <span class="text-muted h6">at Uptime</span></div>
          <div class="text-muted text-small mb-2">Janeiro, 2020 - Agosto, 2020</div>
          <div>
            <p>Professora de inglês de todas as faixas etárias, utilizando uma metodologia de
              ensino sustentada pelo conhecimento em mnemônica e neurolinguística.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Educação</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Análise e Desenvolvimento de Sistemas <span class="text-muted h6">from INFNET</span></div>
          <div class="text-muted text-small mb-2">2019 - 2022</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Bacharel em Ciências Ambientais <span class="text-muted h6">from Universidade Federal do Estado do Rio de Janeiro</span></div>
          <div class="text-muted text-small mb-2">(2011 - 2017)</div>
          <div></div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Undergraduate of Environmental Science <span class="text-muted h6">from University of Colorado at Boulder</span></div>
          <div class="text-muted text-small mb-2">2015 - 2016</div>
          <div>Graduação Sanduíche</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Inglês <span class="text-muted h6">at Cultura Inglesa</span></div>
          <div class="text-muted text-small mb-2">2005 - 2012</div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="contant-section px-3 px-lg-4 pb-4" id="contact">
        <div class="col">
        <div class="mt-2">
          <div class="text-center">
            <h3 class="h6">Endereço</h3>
            <div class="pb-2 text-secondary">Rua São José, 90 - Centro, Rio de Janeiro - RJ</div>
            <h3 class="h6">Email</h3>
            <div class="pb-2 text-secondary">maria.aoliveira@al.infnet.edu.br</div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        
        <div class="text-small">
          <div class="mb-1">&copy; All rights reserved.</div>
        </div>
      </div>
    </footer>
  </body>
</html>